.breathing-background {
  background: linear-gradient(135deg, theme('colors.secondary-dark'), theme('colors.secondary'), theme('colors.primary-dark'), theme('colors.primary'));
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

.breathing-background-gentle {
  background: linear-gradient(135deg, theme('colors.secondary'), theme('colors.secondary-dark'), theme('colors.primary-dark'), theme('colors.primary'));
  background-size: 400% 400%;
  animation: gradient-animation 30s ease infinite;
}

.breathing-background-strong {
  background: linear-gradient(135deg, theme('colors.secondary'), theme('colors.secondary-dark'), theme('colors.primary-dark'), theme('colors.primary'));
  background-size: 400% 400%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
